In [9]:
import json
import matplotlib.pyplot as plt
plt.style.use('seaborn')
import pandas as pd
import requests
import time

C:\Users\voyno\AppData\Local\Temp\ipykernel_4880\393472434.py:4: MatplotlibDeprecationWarning: The seaborn styles shipped by Matplotlib are deprecated since 3.6, as they no longer correspond to the styles shipped by seaborn. However, they will remain available as 'seaborn-v0_8-<style>'. Alternatively, directly use the seaborn API instead.
  plt.style.use('seaborn')

In [10]:
data = json.load(open('test.json', 'r'))

In [11]:
dropcols = ['id', 'type', 'taxonomies', 'datetime_utc', 'venue', 'datetime_tbd', 'performers', 'time_tbd', 'popularity', 'score', 'announce_date', 'created_at', 'access_method', 'description', 'status', 'event_promotion', 'announcements', 'conditional', 'date_tbd', 'title', 'themes', 'domain_information', 'links', 'enddatetime_utc', 'is_open', 'visible_until_utc']
df = pd.DataFrame(data)
df.drop(dropcols, axis=1, inplace=True)

In [12]:

from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import WebDriverException
from selenium.webdriver.chrome.options import Options


options = Options()
# options.add_argument('--headless')


def create_driver(link=None):
    """
    Create chrome driver, get link if available
    """
    driver = webdriver.Chrome(ChromeDriverManager().install(), chrome_options=options)
    if link:
        driver.get(link)

    return driver

In [38]:
driver = create_driver(df['url'][1])
driver.maximize_window()
driver.execute_script("document.body.style.zoom='5%'")

text = driver.find_element(By.ID, '__next').text

driver.quit()

C:\Users\voyno\AppData\Local\Temp\ipykernel_4880\3960223094.py:17: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(ChromeDriverManager().install(), chrome_options=options)
C:\Users\voyno\AppData\Local\Temp\ipykernel_4880\3960223094.py:17: DeprecationWarning: use options instead of chrome_options
  driver = webdriver.Chrome(ChromeDriverManager().install(), chrome_options=options)

In [42]:
search_token = 'Sorted by Deal Score'
text_split = text.split("\n")

found_token = False
while not found_token:
    if text_split[0] == search_token:
        found_token = True
    text_split = text_split[1:]

In [48]:
mod_len = 4
data_collection = [[] for _ in range(mod_len)]

for i, item in enumerate(text_split):
    data_collection[i % mod_len].append(item)

In [53]:
pd.DataFrame(data_collection).transpose()

                           0     1             2                    3
0                  $104 each   9.9  Amazing Deal  Section 107, Row 15
1                   $73 each   9.9  Amazing Deal   Section 222, Row 4
2                  $150 each   9.7  Amazing Deal   Section 107, Row 7
3                  $119 each   9.7  Amazing Deal  Section 118, Row 13
4                   $57 each   9.7  Amazing Deal  Section 205, Row 11
..                       ...   ...           ...                  ...
64                 $298 each   9.3  Amazing Deal   Section 115, Row 4
65                 $255 each   9.3  Amazing Deal  Section 111, Row 14
66                 $307 each   9.3  Amazing Deal   Section 115, Row 3
67                 $218 each   9.3  Amazing Deal  Section 122, Row 12
68  Search as I move the map  None          None                 None

[69 rows x 4 columns]